{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block c %}
<hr>

<div class="row justify-content-end">
    <div class="col-md-auto">
        <div class="row">
            <a class="btn btn-fixed disabled m-1" style="background-color:#fed300;" disabled>Status: {{ oc.state_caption }}</a>
            {% if posible_states %}
            {% for state in posible_states %}
            <form id="form_{{ state[0] }}" method="post" name="new_comment_form" action="{{ url_for('online_check.change_state', oc_id=oc.id) }}">
                <input type="hidden" name="new_state" value="{{ state[0] }}">
                <input type="hidden" name="new_state_caption" value="{{ state[1] }}">
                <input type="submit" class="btn btn-fixed m-1" value="{{ state[1] }}">
            </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<hr>
<div class="d-none d-sm-block" style="height: 20px;"></div>

<div class="container-lg">

    <div class="row">
        <div class="col">
            <h3>Gerätedaten</h3>
            {{ oc.device_issue }}
        </div>
    </div>

    <div class="d-none d-sm-block" style="height: 20px;"></div>
    <hr>
    <div class="d-none d-sm-block" style="height: 20px;"></div>

    <div class="row">
        <div class="col">
            <h3>Kontaktdaten</h3>
            <div class="row">
                <div class="col-2 d-none d-sm-block">Name</div>
                <div class="col-1 d-none d-sm-block">:</div>
                <div class="col-md-9 col-sm">{{ oc.customer_name }}</div>
            </div>
            <div class="row">
                <div class="col-2 d-none d-sm-block">E-Mail</div>
                <div class="col-1 d-none d-sm-block">:</div>
                <div class="col-md-9 col-sm">{{ oc.customer_email }}</div>
            </div>
            <div class="row">
                <div class="col-2 d-none d-sm-block">Tel.:</div>
                <div class="col-1 d-none d-sm-block">:</div>
                <div class="col-md-9 col-sm">{{ oc.customer_tel }}</div>
            </div>
        </div>
    </div>

    <div class="d-none d-sm-block" style="height: 20px;"></div>
    <hr>
    <div class="d-none d-sm-block" style="height: 20px;"></div>

    <!------------------------------------------
        Attachments
      ------------------------------------------>
    <div class="row">
        <div class="col">
            <h3>Anhänge</h3>
            <div class="row">
                <div class="col">
                    <small>Zum Hochladen von Dateien klicke hier:
                        <button class="btn btn-fixed"
                                    id="new_attachment_toggle_button">+</button>
                    </small>

                    <form action="{{ url_for('online_check.attachment_upload') }}" 
                        id="new_attachment_form" 
                        method="POST" 
                        name="new_attachment_form" 
                        enctype="multipart/form-data">
                        
                        <input type="hidden" name="oc_id" value="{{ oc.id }}">
                        <div class="container">
                            <div class="row border rounded mt-2">
                                <div class="col py-2">
                                    <h3>1. </h3>
                                    <label class="btn btn-fixed">
                                        Auswählen <input type="file" class="d-none" id="attachment_file" name="file">
                                    </label>
                                </div>
                                <div class="col py-2">
                                    <img id="thumb_img" width="130px">
                                </div>
                                <div class="col py-2">
                                    <h3>2. </h3>
                                    <input type="submit" class="btn btn-fixed" value="Hochladen" name="new_attachment_form">
                                </div>
                            </div>
                        </div>                        
                    </form>  

                    <script>
                        $('input#attachment_file').change(function(){
                        if (this.files && this.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                selectedImage = e.target.result;
                                $('img#thumb_img').attr('src', selectedImage);
                            };
                            reader.readAsDataURL(this.files[0]);
                        }
                        });

                        $("#new_attachment_form").hide();
                        $("#new_attachment_toggle_button").on("click", function(){
                            $("#new_attachment_form").slideToggle();
                        });
                    </script>
                </div>
            </div>

            <!--
            <div class="row mx-0">
                {% for attachment in oc.attachments %}
                <a class="card mr-2 mt-2" style="width: 130px;" href="{{ url_for('static', filename='attachments/' + attachment.filename) }}">
                    <img src="{{ url_for('static', filename='attachments/' + attachment.filename) }}" class="card-img-top" alt="...">
                    <div class="card-body p-1">
                        <p class="card-text">
                            <small>{{ attachment.filename }}</small>
                        </p>
                    </div>
                </a>
                {% endfor %}
            </div>
            -->

            <div class="row mx-0" id="attachment_section"></div>
            
            <script>
                
                $.post( '/attachment_list', {oc_id:{{ oc.id }}})
                .done(function( data ) {
                    
                    $.each(JSON.parse(data), function( index, value ) {
                        var html;
                        spl = value[1].split('.');
                        thumb = spl[0] + '_thumb.' + spl[1];

                        a_href = '{{ url_for('static', filename='attachments/') }}'+value;
                        img_src = '{{ url_for('static', filename='attachments/') }}'+thumb;
                        
                        html = '<a class="mr-2 mt-2" style="width: 130px;" href="/attachment/'+value[0]+'">';
                        html += '<img src="'+img_src+'" class="border rounded" alt="...">';
                        html += '</a>';
                        $('#attachment_section').append(html);
                    });
                })
                .fail(function() {
                    console.log('error');
                });
            </script>
            
        </div>
    </div>
    <!------------------------------------------
        End Attachments
      ------------------------------------------>

    <div class="d-none d-sm-block" style="height: 20px;"></div>
    <hr>
    <div class="d-none d-sm-block" style="height: 20px;"></div>

    <div class="row">
        <div class="col">
            <h3>Historie</h3>
            {% for log in logs %}
            {% if log.type == 'action' %}
            <div class="container mt-3 align-items-start">
                <div class="row bg-light p-1 border rounded align-items-center">

                    <div class="mr-1 p-1 text-nowrap" style="line-height: 1;">
                        {% if log.user %}
                        <img class="avatar_ico mr-1 rounded" src="{{ log.user.avatar(21) }}">
                        {{ log.user.username }}:
                        {% else %}
                        Kunde:
                        {% endif %}
                    </div>

                    <div class="p-1" style="font-weight: bold;">{{ log.caption }}</div>
                    <div class="col text-right p-1">
                        <small>{{ log.timestamp.strftime('%d.%m.%Y %H:%M') }}</small></div>
                </div>
            </div>
            {% endif %}
            {% if log.type == 'comment' %}
            <div class="container mt-3 align-items-start">
                <div class="row bg-light p-1 border-left border-top border-right rounded-top align-items-center">

                    <div class="mr-1 p-1 text-nowrap">
                        {% if log.user %}
                        <img class="avatar_ico mr-1 rounded" src="{{ log.user.avatar(21) }}">
                        {{ log.user.username }}:
                        {% else %}
                        Kunde:
                        {% endif %}
                    </div>
                    <div class="col text-right p-1">
                        <small>{{ log.timestamp.strftime('%d.%m.%Y %H:%M') }}</small></div>
                </div>
                <div class="row p-2 border-left border-bottom border-right rounded-bottom"
                     style="white-space: pre-line">{{ log.caption }}</div>
            </div>
            {% endif %}
            {% if log.type == 'upload' %}
            <div class="container mt-3 align-items-start">
                <div class="row bg-light p-1 border rounded align-items-center">

                    <div class="mr-1 p-1 text-nowrap" style="line-height: 1;">
                        {% if log.user %}
                        <img class="avatar_ico mr-1 rounded" src="{{ log.user.avatar(21) }}">
                        {{ log.user.username }}:
                        {% else %}
                        Kunde:
                        {% endif %}
                    </div>

                    <div class="p-1">
                        {% if log.state == 'new' %}hat die Datei <span class="font-weight-bold">{{ log.caption }}</span> hochgeladen.{% endif %}
                        {% if log.state == 'archived' %}hat die Datei <span class="font-weight-bold"></span>{{ log.caption }}</span> archiviert.{% endif %}
                    </div>
                    <div class="col text-right p-1">
                        <small>{{ log.timestamp.strftime('%d.%m.%Y %H:%M') }}</small></div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <div class="row justify-content-end">
                <div class="col-md-auto">
                    <a href="#new_comment_anchor" class="btn btn-fixed mt-3 mb-1"
                       id="new_comment_toggle_button">Neuer Kommentar</a>
                </div>
            </div>
            <section id="new_comment_anchor"></section>
            <form id="new_comment_form" method="post" name="new_comment_form">
                <textarea class="w-100" rows="5" name="comment"></textarea>
                <input type="submit" class="btn btn-fixed" value="Speichern" name="new_comment_form">
            </form>
            <script>
                $("#new_comment_form").hide();
                $("#new_comment_toggle_button").on("click", function(){
                    $("#new_comment_form").toggle();
                });
            </script>
        </div>
    </div>

</div>

{% endblock %}
