{% extends "base" + light + ".html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block c %}
<div class="row m-0 mb-2">
    {% if light == '_light' %}
    <a href="{{ url_for('online_check.overview', light='back') }}" class="btn btn-fixed ml-auto">
        <<</a> {% else %} <a href="{{ url_for('online_check.overview', light='go') }}" class="btn btn-fixed ml-auto">
            Vollbild
    </a>
    {% endif %}
</div>

<table class="table">
    {% for oc in oc_list %}
    <tr>
        <td class="col-10">
        </td>
        <td class="col-1">ID: {{ oc.id }}</td>
        <td>{{ oc.user.username }}</td>
        <td><b>{{ oc.state }}</b></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
