<head>
    <title>{% if title %}{{ title }} - Reparaturcafe{% else %}Reparaturcafe{% endif %}</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/jquery-ui.css') }}">

<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
		<img src="{{ url_for('static', filename='logo.svg') }}" width="50px" height="50px">
	</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="{{ url_for('main.index') }}" class="btn btn-fixed mb-1">Startseite</a>
        {% if not current_user.is_anonymous %}
            <a href="{{ url_for('online_check.overview') }}" class="btn btn-fixed mb-1 ml-1">Übersicht</a>
        {% endif %}
        {% if current_user.is_admin() %}
            <a href="{{ url_for('auth.user_management') }}" class="btn btn-fixed mb-1 ml-1">Usermanagement</a>
        {% endif %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                {% if current_user.is_anonymous %}
                    <a class="btn btn-fixed" href="{{ url_for('user.login') }}">Login</a>
                {% else %}
                    <a class="nav-link dropdown-toggle btn btn-fixed" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="avatar_ico mr-2" src="{{ current_user.avatar(30) }}">{{ current_user.username }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a href="{{ url_for('auth.user', username=current_user.username) }}" class="dropdown-item">Profile</a>
                        <a href="{{ url_for('user.logout') }}" class="dropdown-item">Logout</a>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>

</nav>


<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<div class="container p-3">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <h1 class="pb-2">{{ title }}</h1>
{% block c %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
{% endblock %}
</div>
<hr>
<div class="row m-0">
    <div class="ml-auto mr-auto">
        <a class="" href="#">Datenschutzerklärung</a> |
        <a class="" href="#">Impressum</a>
    </div>
</div>

