{% extends 'bootstrap/base.html' %}


{% block title %}
{% if title %}{{ title }} - Reparaturcafe{% else %}Reparaturcafe{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/jquery-ui.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
{% endblock %}

{% block content %}

<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<div class="container p-3">
    <h1 class="pb-2">{{ title }}</h1>
    {% block c %}
    {% block app_content %}{% endblock %}
    {% endblock %}
</div>

{% endblock %}