{% extends "base.html" %}

{% block c %}
<div class="card-columns">

        <div class="card">
            <div class="text-center">
                <img class="card-img-top ml-auto mr-auto mt-1" src="{{ url_for('static', filename='logo.svg') }}" alt="logo reparaturcafe"
                style="width:150px!important; height:150px;">
            </div>
            <div class="card-body">
                <h5 class="card-title">Komm vorbei.</h5>
                <p class="card-text">Jeden <strong>Mittwoch</strong> ist die Werkstatt in der <strong>Landgrafenstr. 50</strong> von <strong>16:00 - 19:00 Uhr</strong> geöffnet.</p>
                <p class="card-text">Zusammen bei einer Tasse Kaffee schauen wir uns die defekten Geräte an und entscheiden dann ob sich eine Reparatur lohnt.</p>
                <p class="card-text">Wenn möglich, kann Ihr Gerät sofort repariert werden. Dabei geben wir Dir gerne Hilfestellung und wertvolle Tipps, bei denen jeder bestimmt noch etwas lernen kann.</p>
            </div>
        </div>


        <div class="card">
            <div class="text-center">
                <img class="card-img-top ml-auto mr-auto mt-1" src="{{ url_for('static', filename='Klemmbrett.svg') }}" alt="logo reparaturcafe"
                     style="width:150px!important; height:150px;">
            </div>
            <div class="card-body">
                <h5 class="card-title">Mach den Online Check.</h5>
                <p class="card-text">Mit unserem online Formular kannst Du vorab eine Anfrage an uns senden und erhältst zeitnah eine Rückmeldung.</p>
                <p class="card-text">So weißt Du dann ob wir jemanden haben, der sich mit Deinem defekten Gerät auskennt und ob sich eine Reparatur lohnt.</p>
                <p class="card-text">
                    Hier kannst Du einen neuen Online Check:
                    <a href="{{ url_for('online_check.start_new_online_check') }}" class="btn btn-fixed w-100">starten</a>
                </p>
                <p class="card-text">
                    oder einen bereits angelegten:
                    <a href="{{ url_for('online_check.start_new_online_check') }}" class="btn btn-fixed w-100">laden</a>
                </p>
                <p class="card-text"></p>
            </div>
        </div>


        <div class="card">
            <div class="text-center">
                <img class="card-img-top ml-auto mr-auto mt-1" src="{{ url_for('static', filename='Awo-logo-08.svg') }}" alt="logo reparaturcafe"
                    style="height:150px!important; width:175px!important;">
            </div>
            <div class="card-body">
                <h5 class="card-title">Ehrenamtlich für die AWO.</h5>
                <p class="card-text">Wir vom Reparaturcafe reparieren defekte Geräte ehrenamtlich und kostenlos in den Räumen der AWO Oberlar.</p>
                <p class="card-text">Viele weitere Information zur AWO Oberlar findet Ihr auf folgender Website:</p>
                <a class="btn btn-fixed" href="https://awo-oberlar.de/" target="_blank">awo-oberlar.de</a>
            </div>
        </div>


    </div>
</div>



{% endblock %}
